rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /comenzi/{orderId} {
      allow create: if true;
      allow read, update: if true;
    }
    match /settings/prices {
      allow read: if true;
    }
  }
}